{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/fullcalendar/css/fullcalendar/fullcalendar.min.css') }}" />
{% endblock %}

{% block body %}
    <div id="calendar-holder"></div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body" >
                    <!--{{ form_start(form) }}
                    {{ form_widget(form) }}
                    <input type="submit" value="Create" />
                    {{ form_end(form) }}-->
                    <form class="row" id="calendar_event_form">
                        <div id="basic_calendar_event_form">
                            <div class="row" >
                                {#<div class="col-md-2">
                                    <label>Title :</label>
                                </div>#}
                                <div class="col-md-12">
                                    <label>Title :</label>
                                    <input class="form-control" type="text" name="title">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Description:</label>
                                    <textarea class="form-control" name="description"></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <input class="form-check-input" type="checkbox" name="allDay" onclick="allDayToggle('time_chooser',this)">
                                    <label>All Day</label>
                                </div>
                                <div id="time_chooser" class="col-md-9">
                                    <label>From : </label>
                                    <input type="time" name="usr_time_from">
                                    <label>To : </label>
                                    <input type="time" name="usr_time_to">
                                </div>
                            </div>
                            <div clas="row">
                                {#<div class="col-md-12">#}
                                    <label>Category : </label>
                                    <select>
                                        <option value="meeting">Meeting</option>
                                        <option value="lecture">Lecture</option>
                                        <option value="se">Something else</option>
                                    </select>
                                {#</div>#}
                            </div>
                        </div>
                        <div class="col-md-12">
                            <a href="javascript:void(0)" data-toggle="collapse" data-target="#advanced_calendar_event_form">Advanced options</a>
                        </div>
                        <div id="advanced_calendar_event_form" class="collapse">
                            <div class="col-md-6">
                                <label>Title:</label>
                                <input class="form-control" type="text" name="class">
                            </div>
                            <div class="col-md-6">
                                <input class="form-check-input" type="checkbox" name="nesto">
                                <label>All Day</label>
                            </div>
                        </div>
                        <input type="hidden" name="start" id="calendar_event_form_start">
                        <input type="hidden" name="end" id="calendar_event_form_end">
                    </form>
                </div>
                <div class="modal-footer">
                    <button onclick="$('#calendar_event_form').find('input, textarea').val('');" id="modalCloseButton" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button onclick="createNewCalendarEvent()" type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    <!--<script type="text/javascript" src="{{ asset('assets/fullcalendar/js/fullcalendar/lib/jquery.min.js') }}"></script>-->
    <script type="text/javascript" src="{{ asset('assets/fullcalendar/js/fullcalendar/lib/moment.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/fullcalendar/js/fullcalendar/fullcalendar.min.js') }}"></script>
    <!--<script type="text/javascript" src="{{ asset('assets/fullcalendar/js/fullcalendar/fullcalendar.default-settings.js') }}"></script>-->
    <script type="text/javascript">
        /*$(function () {
            $('#calendar-holder').fullCalendar({
                header: {
                    left: 'prev, next',
                    center: 'title',
                    right: 'month, basicWeek, basicDay,'
                },
                lazyFetching: true,
                timeFormat: {
                    agenda: 'h:mmt',
                    '': 'h:mmt'
                },
                eventStartEditable:{
                    default:true
                },
                eventSources: [
                    {
                        url: '{{ path("load_calendar_event") }}',
                        type: 'POST',
                        data: {},
                        error: function () {}
                    }
                ],
                eventDrop: function (event, dayDelta, minuteDelta, allDay, revertFunc, jsEvent, ui, view) {
                    console.log(event);
                },

                dayClick: function(day) {
                    console.log(day);
                    alert('a day has been clicked!');
                }

            });
        });*/

        $(document).ready(function() {


            $('#calendar-holder').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month, basicWeek, basicDay,agendaWeek,agendaDay'
                },

                navLinks: true, // can click day/week names to navigate views
                selectable: true,
                selectHelper: true,
                select: function(start, end, jsEvent) {

                    console.log(jsEvent.originalEvent.clientX);
                    //var calendarEventForm = $('#calendar_event_form');
                    //console.log(calendarEventForm);
                    //var divTag = document.createElement("INPUT");
                    //divTag.appendChild(document.createTextNode("Aaa"));
                    //calendarEventForm[0].appendChild(divTag);

                    var modal = $('#myModal').modal('show');
                    var top = jsEvent.originalEvent.clientY;
                    modal.css("top",top);

                    var windowWidth = $(window).width();
                    var leftOffset = parseInt(jsEvent.originalEvent.clientX)-(parseInt(windowWidth)/2);
                    modal.css("left",leftOffset);

                    jsEvent.preventDefault();
                    $('#calendar_event_form_start').val(start.toDate().toUTCString());
                    $('#calendar_event_form_end').val(end.toDate().toUTCString());

                },
                editable: true,
                eventLimit: true, // allow "more" link when too many events
                eventSources: [
                    {
                        url: '{{ path("load_calendar_event") }}',
                        type: 'POST',
                        data: {},
                        error: function () {}
                    }
                ],
                eventRender: function(event, element) {
                    if(event.description)
                    {
                        var divTag = document.createElement("DIV");
                        divTag.appendChild(document.createTextNode(event.description));
                        divTag.className = "event-description";
                        element[0].appendChild(divTag);
                    }

                    var eventOptionsTag = $('<div class="event-options"></div>');
                    var editCalendarEventPath = "{{ path('calendarevent_edit', {'id':-1}) }}".replace("-1", event.entityId);
                    var aTagEdit = $('<a href="'+editCalendarEventPath+'">Edit</a>');
                    aTagEdit.appendTo(eventOptionsTag);

                    var aTagDelete = $('<a class="event-delete-button">Delete</a>');
                    console.log(event._id);
                    aTagDelete.attr('data-entity-id', event.entityId);
                    aTagDelete.attr('data-event-id', event._id);
                    aTagDelete.click(function()
                    {
                        var entityId = $(this).data('entity-id');
                        $.post("{{ path('delete_calendar_event') }}", {entityId: entityId});
                        var eventId = $(this).data('event-id');
                        $('#calendar-holder').fullCalendar('removeEvents', [eventId]);
                    });
                    aTagDelete.appendTo(eventOptionsTag);

                    eventOptionsTag.appendTo(element[0]);
                },
                eventDrop: function (event, delta, revertFunc, jsEvent, ui, view) {

                    console.log(event);
                    $.post("{{ path('edit_calendar_event') }}",
                        {editEvent:
                                {
                                    entityId: event.entityId,
                                    title: event.title,
                                    start: event.start.toDate().toUTCString()
                                }
                        });
                }

                /*dayRender: function (date,cell) {
                  /!* var td = $(cell);
                   var button = td.add( "button" ).addClass( "btn btn-info btn-circle btn-lg addCalendarEventButton" );
                    button.add("i").addClass("glyphicon glyphicon-plus");*!/
                  var btn = $(cell).append( "<button class='btn btn-info btn-circle btn-xs modalSubmitButton'><i class=\"glyphicon glyphicon-plus\"></i></button>" );
                  btn.hide();
                }*/
            });

        });
        
        function createNewCalendarEvent() {
            console.log($('#calendar_event_form').serializeArray());
            var calendarEventForm = $('#calendar_event_form');
            var calendarEventFormArray = calendarEventForm.serializeArray();
            var newEvent = {};
            for(var i =0; i< calendarEventFormArray.length; i++)
            {
                newEvent[calendarEventFormArray[i].name] = calendarEventFormArray[i].value;
            }
            console.log(newEvent);
            $.post("{{ path('new_calendar_event') }}",
                {newEvent:
                    newEvent
                });

            $('#calendar-holder').fullCalendar('renderEvent', newEvent, true);

            $('#calendar-holder').fullCalendar('unselect');

            calendarEventForm.find("input, textarea").val("");

            $('#myModal').modal('hide');
        }

        $('#myModal').on('shown.bs.modal', function () {


            // get the viewport height
            var viewportHeight = $(window).height();
            console.log ('viewportHeight = ' + viewportHeight);


            // get the viewport width
            var viewportWidth = $(window).width();
            console.log ('viewportWidth = ' + viewportWidth);

            var modalDialogHeight = $(this).find('.modal-dialog').outerHeight(true);
            console.log ('modalDialogHeight = ' + modalDialogHeight);

            var modalDialogWidth = $(this).find('.modal-dialog').outerWidth(true);
            console.log ('modalDialogWidth = ' + modalDialogWidth);

            var parentHeight = $( window ).height();
            var modal = $('#myModal');
            var top = modal.offset().top;

            console.log('Top offset = ' + top);
            console.log('Parent height = '+ parentHeight);

            if(parseInt(top)+parseInt(modalDialogHeight)>parseInt(parentHeight)) {
                top=parseInt(parentHeight)-parseInt(modalDialogHeight);

                modal.css("top", top);
                console.log("Top offset changed to: "+top);
            }

            //When the browser window is being resized
            var modalContentWidthHeight = function () {

                var modalContentWidth = $('#myModal').find('.modal-content').outerWidth(true);
                console.log ('modalContentWidth = ' + modalContentWidth);

                var modalContentHeight = $('#myModal').find('.modal-content').outerHeight(true);
                console.log ('modalContentHeight = ' + modalContentHeight);
            };

            $(window).resize(modalContentWidthHeight);

        });

        /*$('#myform').on('submit', function(ev) {
            var modal = $('#myModal').modal('show');
            var button = $('#modalSubmitButton');
            var offset = button.offset();
            var top=offset.top;
            modal.css("top", top);

            var parentWidth = $( window ).width();
            var left = parseInt(offset.left)- (parseInt(parentWidth)/2 );
            modal.css("left",left);

            ev.preventDefault()});
*/
        $('.modalSubmitButton').click(function (ev) {
            var modal = $('#myModal').modal('show');
            var button = $(ev.target);
            var offset = button.offset();
            var top = offset.top;
            modal.css("top",top);

            var windowWidth = $(window).width();
            var leftOffset = parseInt(offset.left)-(parseInt(windowWidth)/2);
            modal.css("left",leftOffset);

            ev.preventDefault()
        });

        $('#modalCloseButton').click(function() {
            $('#myModal').modal('hide');
        });

        function allDayToggle (it, box) {
            var vis = (box.checked) ?  "none" : "block";
            document.getElementById(it).style.display = vis;
        }
    </script>
{% endblock %}